<a href="https://colab.research.google.com/github/Jinimo/Multi_/blob/main/2022.03/2_%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95_%EB%B0%98%EB%B3%B5%EB%AC%B8_for_0307.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 구글 드라이브 마운트(드라이브 연결)
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd/content/drive/MyDrive/multi

/content/drive/MyDrive/multi

### 반복문 (** for)
- 데이터 구조에서 주로 for문 많이 사용
- 데이터의 끝을 아는 상황에서 쓰임
- for - 유한반복 / while - 무한방법
- for 변수 in 갹체명: 실행문 -> 나열형, 스퀀시 구조 객체 (주로 list, tuple) 
- for i in rnage(): 실행문 -> 숫자 범위가 변수에 들어감, 나열형인데 꼬여있어? 
- 데이터 많으면 속도의 차이 발생

- whle 조건식: -> 만족할때 까지 무한 반복 / 데이터의 끝을 모르는 상황에서 쓰임

In [ ]:
name = ["서정동", "김이프", "심순이", "박찬식", "홍순준"]
age = [50, 40, 30, 20, 10]

# name 객체 이용한 출력
# format() 함수 이용한 출력 
print(name[0],"님! 안녕하세요.")
print(name[1],"님! 안녕하세요.")
print(name[2],"님! 안녕하세요.")
print(name[3],"님! 안녕하세요.")
print(name[4],"님! 안녕하세요.")
# 데이터 처리가 너무 많아! -> for 문 사용하기

서정동 님! 안녕하세요.
김이프 님! 안녕하세요.
심순이 님! 안녕하세요.
박찬식 님! 안녕하세요.
홍순준 님! 안녕하세요.

In [ ]:
for nm in name: # name리스트의 값들을 변수 nm으로 지정
  print("{0}님~ 안녕하세요".format(nm)) 
  # 리스트 name에서 0번째 값부터 차례로 출력 

print("==== END ====")

서정동님~ 안녕하세요
김이프님~ 안녕하세요
심순이님~ 안녕하세요
박찬식님~ 안녕하세요
홍순준님~ 안녕하세요
==== END ====

In [ ]:
print(name[0],"님의 나이는", age[0], "입니다.")
print("----------")

print("{1}님의 나이는 {0}세입니다.".format(age[0],name[0]))

print("----------")
print(f"{name[0]}님의 나이는 {age[0]}세 입니다.")
print(f"{name[1]}님의 나이는 {age[1]}세 입니다.")

서정동 님의 나이는 50 입니다.
----------
서정동님의 나이는 50세입니다.
----------
서정동님의 나이는 50세 입니다.
김이프님의 나이는 40세 입니다.

In [ ]:
# range() 함수 활용
# list() : 입력된 데이터를 리스트 구조로 변경 -> 결과값 [, , ,] 형태

print(list(range(10))) #0부터 10개의 정수 데이터 생성 , 입력 숫자 -1 한 값에서 종료한다!
print(list(range(5, 10))) #0부터 10개의 정수를 생성하고, 5 부터 출력
print(list(range(1, 10, 2))) #0부터 10개의 정수를 생성하고, 1부터 2씩 증가하면서 출력
# 불연속적인 숫자를 출력할떄 쓰임
# 시작값 
# 증감 설정 가능

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [ ]:
for i in range(5):
  print(f"{name[i]}님의 나이는 {age[i]}세 입니다.") 
  # format ->{} 안 필요한 대상 넣어주기
  # .format(A[], B[])
  # f"{A[]} {B[]}" -> 중괄호 안에 값 직업 입력
  # i = 0 0 / i = 1 1 / .../ i = 4 4
print("=== END ===") # 들여쓰기 X -> for문의 명령 끝나고 출력

print("--------------")

for i in range(5):
  print(f"{name[i]}님의 나이는 {age[i]}세 입니다.")
  print("=== END ===") # 들여쓰기 O -> for문 안에 있어서 한 명령 끝날 때 마다 출력됨.

서정동님의 나이는 50세 입니다.
김이프님의 나이는 40세 입니다.
심순이님의 나이는 30세 입니다.
박찬식님의 나이는 20세 입니다.
홍순준님의 나이는 10세 입니다.
=== END ===
--------------
서정동님의 나이는 50세 입니다.
=== END ===
김이프님의 나이는 40세 입니다.
=== END ===
심순이님의 나이는 30세 입니다.
=== END ===
박찬식님의 나이는 20세 입니다.
=== END ===
홍순준님의 나이는 10세 입니다.
=== END ===

In [ ]:
# len(변수) : 변수의 입력된 데이터 개수 출력  
# rang(5) 처럼 ()안에 구체적인 범위의 값 안넣어줘도 됨.

print(len(name)) # name 변수 입력된 데이터 개수 출력
 
for i in range(len(name)): # name age 상관 X
  print(f"{name[i]}님의 나이는 {age[i]}세 입니다.")

print("=== END ===")

5
서정동님의 나이는 50세 입니다.
김이프님의 나이는 40세 입니다.
심순이님의 나이는 30세 입니다.
박찬식님의 나이는 20세 입니다.
홍순준님의 나이는 10세 입니다.
=== END ===

#### Pillow 이미지 처리 모듈
- 참조: https://pillow.readthedocs.io/en/stable/index.html
- 특정 모듈 사용시 해당 사이트가서 인스통, 어떤식으로 써야하는지 다양한 모듈 찾아서 사용

In [ ]:
# 기본적으로 코랩에는 다 들어가있어. 
# 오류나는 경우 Pillow 모듈 설치하기 -> !pip install Pillow

# 모듈 연결
from PIL import Image # PIL. 의 특정 모듈에서 Image만 import 연결

# 이미지 열기
#상대 경로 -> 위에서 multi 디렉토리 이미 지정 -> ./ 뒤에 디렉토리 적으면 됨 
tmp = Image.open('./0307/data/pic1.jpg') 
# 절대 경로 
# tmp = Image.open('/content/drive/MyDrive/multi/0307/data/pic1.jpg')

# 이미지 잘 열였는지 이미지 크기(속성) 출력
print(tmp.size)

(512, 271)

In [ ]:
tmp = Image.open('./0307/data/pic1.jpg') 
print(tmp.size)
tmp = Image.open('./0307/data/pic2.jpg') 
print(tmp.size)
tmp = Image.open('./0307/data/pic3.jpg') 
print(tmp.size)

(512, 271)
(630, 338)
(275, 183)

In [ ]:
# 파일 개수가 많아진다면? 
# 변수 리스트 지정 -> for문 사용하기
fnames = ["pic1","pic2","pic3"]

print('./0307/data/' + fnames[0] + '.jpg')

print()

for fname in fnames:
  print('./0307/data/' + fname + '.jpg') # 리스트 fmames의 변수에따라 값 출력

print('=== end ===')

./0307/data/pic1.jpg

./0307/data/pic1.jpg
./0307/data/pic2.jpg
./0307/data/pic3.jpg
=== end ===

In [ ]:
# for문을 이용한 이미지 출력
fnames = ["pic1","pic2","pic3"]

for fname in fnames:
  tmp = Image.open('./0307/data/' + fname + '.jpg')
  print(tmp.size)

print('=== END ===')

(512, 271)
(630, 338)
(275, 183)
=== END ===

In [ ]:
# 기존 이미지 사이즈를 200*200으로 수정 후 저장 (pic1_200.jpg)
fnames = ["pic1","pic2","pic3"]

tmp = Image.open('./0307/data/' + fnames[0] + '.jpg') # 첫번째 파일 읽어오기
print(tmp.size)

tmpResize = tmp.resize((200,200)) # 이미지 사이즈 변경
tmpResize.save('./0307/data/' + fnames[0] + '._200.jpg') 
# 여기 출력값으로는 안보이지만 드라이브에 사이즈 변경되어 저장됨.
# 
print('=== End ===')

(512, 271)
=== End ===

In [ ]:
# 원본 이미지 사이즈 리스트 변수에 저장 
# 전체 이미지 사이즈를 200*200으로 수정 후 저장

fnames = ["pic1", "pic2","pic3"]  # 데이터가 있는 리스트 변수 선언
imgsize =[]  # 리스트 형식의 변수 생성 -> 데이터는 없음. 메모리에 영역 만들어줌

for fname in fnames:
    tmp = Image.open('./0307/data/' + fname + '.jpg')
    imgsize.append(tmp.size) # append() -> 변수 끝에 데이터 추가
  # append 하기 전에 변수 리스트 만들어줘야 해 !!! 
  # => 위에 데이터 없는 imgsize =[] 생성 

    tmpResize = tmp.resize((200,200)) # 이미지 사이즈 변경
    tmpResize.save('./0307/data/' + fname + '._200.jpg') 

print('-------------')

print(imgsize)

-------------
[(512, 271), (630, 338), (275, 183)]

In [ ]:
import pandas as pd

df1=pd.DataFrame(imgsize, columns=["가로", "세로"])
df1

    가로   세로
0  512  271
1  630  338
2  275  183

###[미션]
1. "/data/image/" 폴더의 강아지 데이터만 읽어오기(range() 이용)
2. 가져온 이미지의 size정보 리스트 변수에 저장하기
3. 해당 이미지를 300*300으로 변경후 "/data/" 폴더에 저장하기
4. 이미지 정보 변수와 pandas 모듈의 DataFrame()을 이용해 DataFrame 구조로 저장 후 출력하기

In [ ]:
from PIL import Image 
import pandas as pd

fname = "강아지"
imgsize = []

for fn in range(1,11):
  tmp = Image.open('./0307/data/images/' + fname + str(fn) + '.jpg')
  imgsize.append(tmp.size)

  tmpResize = tmp.resize((300, 300))
  tmpResize.save('./0307/data/' + fname + str(fn) + '.jpg')
print('=== END ===')

print(imgsize)

df1=pd.DataFrame(imgsize, columns=["가로", "세로"])
df1

=== END ===
[(377, 400), (584, 400), (433, 400), (356, 400), (564, 400), (533, 400), (537, 400), (533, 400), (510, 400), (599, 400)]

    가로   세로
0  377  400
1  584  400
2  433  400
3  356  400
4  564  400
5  533  400
6  537  400
7  533  400
8  510  400
9  599  400