<a href="https://colab.research.google.com/github/Jinimo/Multi_/blob/main/2022.03/Python%20%7C%20%EB%AA%A8%EB%93%88_0311.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/multi/0311

/content/drive/MyDrive/multi/0311

In [ ]:
!pwd # 작업 공간 위치 확인
!ls  # 같은 공간 확인

/content/drive/MyDrive/multi/0311
1_함수_0311.ipynb  2_모듈_0311.ipynb  models  myfun

### 모듈(Module)
- 파이썬 코드를 논리적으로 묶어서 관리하고 사용할 수 있도록 하는 것
- 모듈 => 파이썬.py 파일이 하나의 모듈 (파일 1 = 모듈 1)
- 기본 연결: 

```
import 모듈명 [as 별명] # as 별명 선택사항
```

In [ ]:
import pandas as pd

df = pd.DataFrame([[1, 10, 20, 30], [2, 40, 50, 60], [3, 70, 80, 90]], 
                  columns=["번호", "A", "B", "C"])
df

   번호   A   B   C
0   1  10  20  30
1   2  40  50  60
2   3  70  80  90

- 하나의 모듈에 여러 함수들이 존재/ 이중 하나만 불러 사용하는 경우

```
from 모듈명 import 함수명
```

In [ ]:
# DataFrame에서 함수만 쓰겠어~!
from pandas import DataFrame 

df = DataFrame([[1, 10, 20, 30], [2, 40, 50, 60], [3, 70, 80, 90]], 
                  columns=["번호", "A", "B", "C"])
df

   번호   A   B   C
0   1  10  20  30
1   2  40  50  60
2   3  70  80  90

- 연결하는 모듈의 모든 함수를 모듈명 없이 사용
```
from 모듈명 import *
```

In [ ]:
# pandas가 가지는 모든 모듈들을 이름없이 사용 가능 !
from pandas import * 

df = DataFrame([[1, 10, 20, 30], [2, 40, 50, 60], [3, 70, 80, 90]], 
                  columns=["번호", "A", "B", "C"])
df

   번호   A   B   C
0   1  10  20  30
1   2  40  50  60
2   3  70  80  90

사용자가 만든 모듈 (사용자함수.py) 사용하기
 * 사용자 함수의 파일 확장자: .py
 * 코드 실행 파일과 같은 폴더에(개인 pc) or 하위 폴더(코랩)에 위치해야함 
 * 코랩의 경우 작업 경로가 실행 파일의 위치까지 cd로 이동하는 것이 좋음 (같은 위치 X)