<a href="https://colab.research.google.com/github/Jinimo/Multi_/blob/main/1_python_%EC%9E%90%EB%A3%8C%ED%98%95_0307.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 구글 드라이브 마운트(드라이브 연결)
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd/content/drive/MyDrive/multi

/content/drive/MyDrive/multi

In [ ]:
# 현재 작업중인 디렉토리 위치 확인
!pwd

/content/drive/MyDrive/multi

### 변수
- 프로그램 내에서 계산시 사용되는 숫자 등을 임시로 메모리 저장하는 공간
- 변수의 형식을 정의하지 않고 사용 (python) 
- 문자(대,소문 구분)
- 파이썬 키워드로 변수 X
- 데이터 타입 별도 지정 X -> 데이터 들어가면서 바뀜!

### 파이썬 데이터 자료형
- 숫자형/문자형/리스트형/럭셔리너형  (주로 실무에서 쓰는 내용
)

### 숫자형
- 숫자형: 정수/실수/8진수/16진수 (주로 정수int/실수float 형 많이 쓰임)

In [ ]:
int1 = 123
int2 = 12.3
float1=12.

# type() : 데이터 자료형을 출력
print(type(int1)) 
print(type(int2)) 
print(type(int1+float1)) 
# int: 정수형 / float : 실수형
# 정수 + 실수 => 실수형

<class 'int'>
<class 'float'>
<class 'float'>

### 문자형
- " " / ' ' 로 묶여 있는 자료
- 스퀀시: 데이터들이 일정하게 나열되어 있는 것
- 인덱싱 : 문자열의 각 위치를 의미 (번호 부여) -> 왼쪽 시작(0부터 인덱싱) / 오른쪽 시작 (-1부터 인덱싱)
- 슬라이싱 : 문자열을 기반으로 , 인덱싱값 가져옴 -> 문자열에서 특정한 문자/단어/문장을 잘라오는 것 (EX: a[0:6])
- 문자->숫자: int() / 숫자->문자  flort()

In [ ]:
str1="123"
str2='파이썬 데이터 분석'

print(type(str1), "\n", type(str2))
print(str2+str1) # 문자형 + 기호 : 문자열 연결 연산

<class 'str'>
 <class 'str'>
파이썬 데이터 분석123

In [ ]:
# 숫자형 + 문자형 계산 -> 기본적으론 계산 불가능!
# print(int1 + str1) 

# str(value) : 입력된 값을 문자형으로 변경
print(str(int1) + str1) 

 # int(value) : 입력된 숫자값을 문자형 값으로 완전한 숫자형(정수)으로 변경
 # float() : 실수형 숫자 자료로 변경 
print(int1 + int(str1))

123123
246

### 인덱싱 / 슬라이싱

In [ ]:
print(str2)
print(str2[0]) # 문자 출력시 [] -> 위치의 index(번호) 입력
print(str2[4])
print(str2[-1]) # = print(str2[9])

# 슬라이싱
# 여러 문자열 출력: 변수 [시작위치 : 종료위치]
print(str2[0:2]) #  
print(str2[0:3])
print(str2[:3])
print(str2[-2:])

파이썬 데이터 분석
파
데
석
파이
파이썬
파이썬
분석

### 문자열 관련 함수

[이스케이프 코드]
\n 줄 바꾸기
\t

In [ ]:
str1="문자 숫자 리스트 문자열 텍스트 정수형"
# str1.count('단어') : 문자열에서 단가가 몇개 있는지 확인 
str1.count("문자") # 결과값=2 -> str1에서 "문자"포함 단어 2개

# find("문자") : 문자열에서 찾는 문자의 위치 출력
str1.find("문자") # 결과값=0 -> 0번째에 "문자"가 위치함 의미
str1.find("숫자") # 결과값=3 -> 3번째에 "숫자"가 위치함 의미
str1.find("문자", 3)  # 결과값=10 -> 3번째 위치 이후에서 "문자" 값 찾아 위치 표시

# 마지막 함수의 결과값 출력 => 계산 메모리에서는 마지막 계산 함수 출력. 계산은 단순한 계산! 계산기랑 비슷해
# 앞의 함수의 결과값을 출력하기 -> print() 명령 실행 해줘야함 
print(str1.find("문자"))
print(str1.find("문자", 3)
)

0
10

### 문자열 (***** 중요해)
- .split() -> 특정한 영역 단위로 쪼개야한다 
- .join() ->
- len() : 데이터의 길이/ 리스트 안 인수 개수 
- .replace("대상문자","변경문자") : 데이터 문자열 바꾸기

In [ ]:
# split() : 문자열 나누기
str1.split(" ") # 스페이스바로 나누기
# -> 결과값 : ['문자', '숫자', '리스트', '문자열', '텍스트', '정수형'] 띄어쓰기로 나누어짐
# 결과값은 화면에 출력하고 끝 -> 저장하기 위해서는 변수 지정 후 출력
spstr1=str1.split(" ") # -> spstr1: 내가 지정한 변수명 
print(spstr1) # 리스트화

# join() : 문자 사이에 특정 기호 등을 삽입할 경우 사용, 문자열 삽입
str2="12345"
print("-". join(spstr1)) # 
print("-". join(str2))

# len() : 데이터(문자, 등등) 길이 
len(str1) # 결과값: 21

# replace("대상값", "변경값") : 문자열 바꾸기, 바꿀 대상 문자 -> 바꾸고자 하는 문자로 치환
str1.replace("문자", "숫자") # -> 결과값: 숫자 숫자 리스트 숫자열 텍스트 정수형
# 치환해도 원본은 변경X -> CPU에서 변경됨 
# 원본 데이터 바꾸려면 str1에 따로 저장 해줘야함!

['문자', '숫자', '리스트', '문자열', '텍스트', '정수형']
문자-숫자-리스트-문자열-텍스트-정수형
1-2-3-4-5

21

### 리스트형 (*** 제일 많이 씀) 
- 복잡형 데이터 구조 , 스퀀시형 (데이터 나열) 구조
- 입력시 대괄호([])로 묶어서 입력
- 리스트 변수 = [값1, 값2, 값3,...]
-인수(값) -> 문자, 숫자, 리스트 ,튜플 ,딕셔너리 등 다양 데이터 형식 가질 수 있음
--(리스트-튜플 , 리스트-딕셔너리 형식이 많아!)
- 인덱싱 / 슬라이싱

=> 파이썬이 사용할 수 있는 모든 데이터를 넣을 수 O
- 배열구조 : 하나의 이름안에 여러 데이터 배열
- 인수들을 쉽표(,) 단위로 인덱싱 잘라줌
- ------
- .sort() -> 데이터의 형식이 같아야함!!
- .insert() -> 일치하는것이 있으면 뒤에 추가
- del 리스트[n] -> 리스트 안 변수의 ~번째인수 삭제

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = [10,20,"멀티캠퍼스", "파이썬", [100,200,300]]
lst3 = ['김보연', '민창기', '서장동', '이순신','홍길동']

print(type(lst1)) # -> 결과값: <class 'list'>
print(type(lst2)) # -> 결과값: <class 'list'> 

# 인덱싱/슬라이싱
print(lst2[2]) # -> 결과값: 멀티캠퍼스
print(lst2[0:2]) # = print(lst2[:2]) -> 2 전까지의 값 추출
print(lst2[-1]) # -> 결과값: [100, 200, 300] 리스트가 하나의 인수이기 때문에 -1번쨰 자리로 추출됨.
# 2차원 구조의 데이터 출력
print(lst2[-1][1]) # -> 결과값: 200 -1번째 인수([100,200,300]) 리스트 안의 1번째 값

# 리스트형 데이터 수정
lst2[3] = "python" 
print(lst2) # -> 결과값: [10, 20, '멀티캠퍼스', 'python', [100, 200, 300]]
# 원본의 값은 수정되어 없어짐
# 위의 str1.replace("문자", "숫자") -> 기존값 변경 X 
# 쉽게 생각하면 등호의 유무 차이?

# .append() : 리스트의 가장 끝에 값 추가. 강제로 추가시킴. 필요에 따라 정렬 가능.
lst2.append("김현진")
print(lst2) # -> 결과값:[10, 20, '멀티캠퍼스', 'python', [100, 200, 300], '김현진']
# .sort() : 리스트 정렬 -> 같은 형식이여야 함! 
# lst2.sort() -> str, int 섞여있어서 오류

lst1.sort() # 오름차순 정렬
print(lst1) # 숫자 데이터로만 이루어진 리스트 -> 정렬 가능 ! 

lst3.sort()
print(lst3) # 문자 데이터로만 이루어진 리스트 

# 객체 .insert(위치,값) : 중간 삽입
lst1.insert(0,6)
print(lst1)

# 객체(변수) 삭제 -> 복구 X
del lst2
del lst3[2]

lst3

<class 'list'>
<class 'list'>
멀티캠퍼스
[10, 20]
[100, 200, 300]
200
[10, 20, '멀티캠퍼스', 'python', [100, 200, 300]]
[10, 20, '멀티캠퍼스', 'python', [100, 200, 300], '김현진']
[1, 2, 3, 4, 5]
['김보연', '민창기', '서장동', '이순신', '홍길동']
[6, 1, 2, 3, 4, 5]

['김보연', '민창기', '이순신', '홍길동']

### -차원 구조 리스트
- 1차원 []
- 2차원 [[],[],..]
- 3차원 [[[],[]..],[[],[],..]]
-(=> 머신러닝, 행렬 계산 등에 꼭 필요!)

In [ ]:
# 차원 구조 리스트
# 1차원 리스트 []
# 2차원 리스트 [[]]
lst=[ [1, "홍길동", "남"], [2, "이순신", "남"], [3, "심순이", "여"] ]

print(lst)
print(lst[0])
print(lst[0][1])

[[1, '홍길동', '남'], [2, '이순신', '남'], [3, '심순이', '여']]
[1, '홍길동', '남']
홍길동

### 모듈 설치 및 연결
- 모듈 연결 : import 모듈명 as 별명
- pandas 모듈 : 2차원 구조의 데이터 관리 
- import pandas as pd

In [ ]:
# !pip install pandas : 모듈 미설치시 사용 
import pandas as pd # 모듈 = 라이브러리(저장소) 

df1 = pd.DataFrame(lst) 
print(df1)

df1 = pd.DataFrame(lst,columns=["번호", "이름", "성별"])  # columns=[]사용하여 열 이름 변경
df1

   0    1  2
0  1  홍길동  남
1  2  이순신  남
2  3  심순이  여

   번호   이름 성별
0   1  홍길동  남
1   2  이순신  남
2   3  심순이  여

### 튜플형
- 리스트형 자료와 도동일 but 수정 불가능
- 자료 추가 가능
- 변수 = (인수, 인수, 인수, ...)

=> 로그인 정보, 등에 사용

In [ ]:
aa=(10, 20, 30)
print(aa[0])
# aa[1]=25 # 에러!! 값변경 -> 에러/수정 불가능!

### 딕셔너리형
- 복합자료형
- 입력시 중괄호( {} ) 묶어서 입력
- 딕셔너리 변수 = {"key1":값1, }
- key: "대표이름"
- 값: key가 가리키는 값, 숫자/문자/리스트/딕셔너리 등 
- 키와 값이 1:1 / 키를 주고 리스트로 값들 / 인수의 개수들이 동일해야 함! 
---------
- .keys() 키 이름만 출력
- .values() 값 전체 출력

In [ ]:
dict1 = {"번호":1, "이름":"홍길동", "성별":"남", "국어":100}
dict2 = {"번호":[1,2,3,4,5,], 
         "이름":["AAA","BBB", "CCC", "DDD", "EEE" ],
         "성별":["남","여","남","여","남" ],
         "국어":[100,95,85,75,80]
         }      
# 구조 뭐든 상관 없음 
# 키값 - 1:1 구조
# 키값 - 리스트 구조
# 키값 - 리스트 - 키값 구조  

print(dict1.keys()) # 키 이름 출력
print(dict1.values()) # 값 전체 출력
print()
print(dict2.keys())
print(dict2.values())
print()
print(dict2["이름"]) # 특정 키에 해당하는 값만 출력

dict_keys(['번호', '이름', '성별', '국어'])
dict_values([1, '홍길동', '남', 100])

dict_keys(['번호', '이름', '성별', '국어'])
dict_values([[1, 2, 3, 4, 5], ['AAA', 'BBB', 'CCC', 'DDD', 'EEE'], ['남', '여', '남', '여', '남'], [100, 95, 85, 75, 80]])

['AAA', 'BBB', 'CCC', 'DDD', 'EEE']

In [ ]:
# pandas를 이용한 데이터 프레임 구조 변경
# impot 위에서 해줘서 안해줘도 됨

df1 = pd.DataFrame(dict2)
df1

   번호   이름 성별   국어
0   1  AAA  남  100
1   2  BBB  여   95
2   3  CCC  남   85
3   4  DDD  여   75
4   5  EEE  남   80